<a href="https://colab.research.google.com/github/RiniPaul86/Assignments_EDA/blob/main/TITANIC_Data_Analysis_and_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TITANIC:  Data_Analysis_and_Manipulation
The Titanic dataset is a well-known dataset in the field of data science and machine learning. It contains information about the passengers aboard the RMS Titanic, which sank on its maiden voyage in April 1912 after colliding with an iceberg. :
The RMS Titanic was a British passenger liner that sank on its maiden voyage from Southampton to New York City. It struck an iceberg on the night of April 14, 1912, resulting in the loss of over 1,500 lives out of the approximately 2,224 passengers and crew aboard.


---




---


The Titanic dataset provides information about each passenger, including:

PassengerId: Unique identifier for each passenger.

Survived: Indicates whether the passenger survived (0 = No, 1 = Yes).

Pclass: Ticket class (1st = Upper, 2nd = Middle, 3rd = Lower).

Name: Passenger's name.

Sex: Passenger's gender.

Age: Passenger's age.

SibSp: Number of siblings/spouses aboard.

Parch: Number of parents/children aboard.

Ticket: Ticket number.

Fare: Passenger fare.

Cabin: Cabin number.

Embarked: Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton).


---



---

The dataset is often used for predictive modeling to answer questions like "What factors made people more likely to survive?" This involves building machine learning models to predict whether a passenger survived based on the other variables in the dataset.

In [98]:
#importing liberaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [99]:
df = pd.read_csv("/content/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#Data Info

In [100]:
df.ndim

2

In [101]:
df.size

10692

In [102]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [104]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

In [105]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

#5. Find Missing Values and Replace it:
a. Identify the columns with missing values in the Titanic dataset.

b. For each column with missing values, replace them with the appropriate value.

c. Verify that there are no missing values remaining in the dataset.

In [106]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [107]:
print('Oldest Passenger was of:',df['Age'].max(),'Years')
print('Youngest Passenger was of:',df['Age'].min(),'Years')
print('Average Age on the ship:',df['Age'].mean(),'Years')

Oldest Passenger was of: 80.0 Years
Youngest Passenger was of: 0.42 Years
Average Age on the ship: 29.69911764705882 Years

In [108]:
df['Initial']=0 #adding initials column
for i in df:
    df['Initial']=df.Name.str.extract('([A-Za-z]+)\.') #lets extract the Salutations

In [109]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Initial
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr

In [110]:
pd.crosstab(df.Initial,df.Sex).T.style.background_gradient(cmap='summer_r') #Checking the Initials with the Sex

In [111]:
df['Initial'].replace(['Mlle','Mme','Ms','Dr','Major','Lady','Countess','Jonkheer','Col','Rev','Capt','Sir','Don'],['Miss','Miss','Miss','Mr','Mr','Mrs','Mrs','Other','Other','Other','Mr','Mr','Mr'],inplace=True)

In [112]:
df.groupby('Initial')['Age'].mean() #lets check the average age by Initials

Initial
Master     4.574167
Miss      21.860000
Mr        32.739609
Mrs       35.981818
Other     45.888889
Name: Age, dtype: float64

In [113]:
## Assigning the NaN Values with the Ceil values of the mean ages
df.loc[(df.Age.isnull())&(df.Initial=='Mr'),'Age']=33
df.loc[(df.Age.isnull())&(df.Initial=='Mrs'),'Age']=36
df.loc[(df.Age.isnull())&(df.Initial=='Master'),'Age']=5
df.loc[(df.Age.isnull())&(df.Initial=='Miss'),'Age']=22
df.loc[(df.Age.isnull())&(df.Initial=='Other'),'Age']=46

In [114]:
df.Age.isnull().any() #So no null values left finally

False

In [115]:
df['Embarked'].fillna('S',inplace=True)# since max passengers boarded from Port S

In [116]:
df.Embarked.isnull().any()# Finally No NaN values

False

In [117]:
# Fill null values in 'Cabin' column with "Unknown"
df['Cabin'].fillna("Unknown", inplace=True)

In [118]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
Initial        0
dtype: int64

#1. Implementing Basic Array Operations:

a. Perform addition operation on the 'Fare' column of the Titanic dataset. What is the total fare paid by all passengers?

b. Subtract the 'Age' column from the 'Fare' column. What insights can you derive from this operation?

c. Multiply the 'SibSp' column (number of siblings/spouses aboard) with the 'Parch' column (number of parents/children aboard). What does the resulting column represent?

d. Divide the 'Fare' column by the 'Pclass' column (passenger class). Interpret the meaning of the values obtained.

In [119]:
# Perform addition on the 'Fare' column
total_fare = df['Fare'].sum()

In [120]:
print("Total Fare Paid by all Passengers: $", total_fare)

Total Fare Paid by all Passengers: $ 28693.9493

In [121]:
# Subtract 'Age' from 'Fare'
df['Fare_Minus_Age'] = df['Fare'] - df['Age']

In [122]:
# Display the first few rows to see the result
print(df[['Fare', 'Age', 'Fare_Minus_Age']].head())

      Fare   Age  Fare_Minus_Age
0   7.2500  22.0        -14.7500
1  71.2833  38.0         33.2833
2   7.9250  26.0        -18.0750
3  53.1000  35.0         18.1000
4   8.0500  35.0        -26.9500

Analyzing this new column can provide insights into potential data issues, unusual patterns, or outliers in the dataset. It's important to further investigate any unexpected results to ensure data integrity and accuracy.

In [123]:
# Multiply 'SibSp' with 'Parch'
df['SibSp_Parch_Product'] = df['SibSp'] * df['Parch']

In [124]:
# Display the first few rows to see the result
print(df[['SibSp', 'Parch', 'SibSp_Parch_Product']].head())

   SibSp  Parch  SibSp_Parch_Product
0      1      0                    0
1      1      0                    0
2      0      0                    0
3      1      0                    0
4      0      0                    0

The resulting 'SibSp_Parch_Product' column represents the number of family members a passenger has aboard the Titanic.

Larger values in 'SibSp_Parch_Product' indicate passengers who are traveling with more family members, while smaller values indicate passengers who are traveling alone or with fewer family members.

In [125]:
# Divide 'Fare' by 'Pclass'
df['Fare_Per_Pclass'] = df['Fare'] / df['Pclass']

In [126]:
# Display the first few rows to see the result
print(df[['Fare', 'Pclass', 'Fare_Per_Pclass']].head())

      Fare  Pclass  Fare_Per_Pclass
0   7.2500       3         2.416667
1  71.2833       1        71.283300
2   7.9250       3         2.641667
3  53.1000       1        53.100000
4   8.0500       3         2.683333

Higher values in 'Fare_Per_Pclass' indicate passengers who paid more for their class.

Lower values in 'Fare_Per_Pclass' indicate passengers who paid less for their class.

#2. Creating and Manipulating Multidimensional Arrays:

a. Create a 2D array using the 'Age' and 'Fare' columns of the Titanic dataset. What are thedimensions of this array?

b. Perform element-wise multiplication on this array with a scalar value of 10. What effect does this operation have on the array?

c. Transpose the array created in part (a). What are the dimensions of the transposed array?

In [127]:
# Select 'Age' and 'Fare' columns
selected_data = df[['Age', 'Fare']]

# Convert selected data to a 2D array
data_array = selected_data.to_numpy()

data_array

array([[22.    ,  7.25  ],
       [38.    , 71.2833],
       [26.    ,  7.925 ],
       ...,
       [22.    , 23.45  ],
       [26.    , 30.    ],
       [32.    ,  7.75  ]])

In [128]:
# Get the dimensions of the array
array_shape = data_array.shape

print("2D Array Dimensions (Rows, Columns):", array_shape)

2D Array Dimensions (Rows, Columns): (891, 2)

In [129]:
# Perform element-wise multiplication with scalar (10)
multiplied_array = data_array * 10

In [130]:
# Print the original array and the multiplied array for comparison
print("Original 2D Array:")
print(data_array[:5])  # Print first 5 rows for illustration
print("\nArray after Element-wise Multiplication with Scalar (10):")
print(multiplied_array[:5])  # Print first 5 rows for illustration

Original 2D Array:
[[22.      7.25  ]
 [38.     71.2833]
 [26.      7.925 ]
 [35.     53.1   ]
 [35.      8.05  ]]

Array after Element-wise Multiplication with Scalar (10):
[[220.     72.5  ]
 [380.    712.833]
 [260.     79.25 ]
 [350.    531.   ]
 [350.     80.5  ]]

The effect of this operation is that all values in the array are now 10 times larger than before.

In [131]:
# Transpose the multiplied array
transposed_array = multiplied_array.T

# Get the dimensions of the transposed array
transposed_shape = transposed_array.shape

print("\nDimensions of Transposed Array (Columns, Rows):", transposed_shape)

Dimensions of Transposed Array (Columns, Rows): (2, 891)

#3. Create a New DataFrame with 5 Records:
a. Create a new DataFrame named 'CustomRecords' with 5 records randomly selected from the Titanic dataset. Include relevant columns such as 'Name', 'Age', etc.

In [132]:
# Select relevant columns for the new DataFrame
selected_columns = ['Name', 'Age', 'Sex', 'Pclass', 'SibSp', 'Parch', 'Fare']

# Create 'CustomRecords' DataFrame with 5 randomly selected records
CustomRecords = df[selected_columns].sample(n= 5, random_state=42)

# Reset the index of the new DataFrame for a clean index
CustomRecords.reset_index(drop = True, inplace=True)

In [133]:
CustomRecords.head(5)

,Name,Age,Sex,Pclass,SibSp,Parch,Fare
0,"Moubarek, Master. Halim Gonios (""William George"")",5.0,male,3,1,1,15.2458
1,"Kvillner, Mr. Johan Henrik Johannesson",31.0,male,2,0,0,10.5000
2,"Alhomaki, Mr. Ilmari Rudolf",20.0,male,3,0,0,7.9250
3,"Harper, Miss. Annie Jessie ""Nina""",6.0,female,2,0,1,33.0000
4,"Nicola-Yarred, Miss. Jamila",14.0,female,3,1,0,11.2417

#4. Read the Dataset and Display the Records:
a. Read the Titanic dataset from the provided source and display the first 10 records.

b. Identify the number of columns and rows in the dataset.

In [134]:
# Display the first 10 records
first_10_records = df.head(10)
first_10_records

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Initial,Fare_Minus_Age,SibSp_Parch_Product,Fare_Per_Pclass
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,Unknown,S,Mr,-14.7500,0,2.416667
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,33.2833,0,71.283300
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,Unknown,S,Miss,-18.0750,0,2.641667
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,18.1000,0,53.100000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,Unknown,S,Mr,-26.9500,0,2.683333
5,6,0,3,"Moran, Mr. James",male,33.0,0,0,330877,8.4583,Unknown,Q,Mr,-24.5417,0,2.819433
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Mr,-2.1375,0,51.862500
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,Unknown,S,Master,19.0750,3,7.025000
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,Unknown,S,Mrs,-15.8667,0,3.711100
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,Unknown,C,Mrs,16.0708,0,15.035400

In [135]:
df.shape

(891, 16)

#6. Data Manipulation Tasks:
a. Filter the Titanic dataset to include only passengers with ages between 20 and 30 years.

b. Sort the dataset based on the 'Fare' column in descending order.

c. Group the dataset by 'Pclass' (passenger class) and calculate the mean fare for each class.

In [136]:
filtered_data = df[(df['Age'] >= 20) & (df['Age'] <= 30)]

# Display the filtered dataset
print("Passengers with ages between 20 and 30:")
filtered_data.head()

Passengers with ages between 20 and 30:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Initial,Fare_Minus_Age,SibSp_Parch_Product,Fare_Per_Pclass
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,Unknown,S,Mr,-14.7500,0,2.416667
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,Unknown,S,Miss,-18.0750,0,2.641667
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,Unknown,S,Mrs,-15.8667,0,3.711100
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,Unknown,S,Mr,-11.9500,0,2.683333
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,Mr,7.5000,0,35.500000

In [137]:
# Sort the dataset based on 'Fare' column in descending order
sorted_df = df.sort_values(by='Fare', ascending=False)

# Display the sorted dataset
print("Dataset Sorted by 'Fare' in Descending Order:")
print(sorted_df[['Name', 'Fare']].head(10))  # Displaying only 'Name' and 'Fare' for the top 10

Dataset Sorted by 'Fare' in Descending Order:
                                      Name      Fare
258                       Ward, Miss. Anna  512.3292
737                 Lesurer, Mr. Gustave J  512.3292
679     Cardeza, Mr. Thomas Drake Martinez  512.3292
88              Fortune, Miss. Mabel Helen  263.0000
27          Fortune, Mr. Charles Alexander  263.0000
341         Fortune, Miss. Alice Elizabeth  263.0000
438                      Fortune, Mr. Mark  263.0000
311             Ryerson, Miss. Emily Borie  262.3750
742  Ryerson, Miss. Susan Parker "Suzette"  262.3750
118               Baxter, Mr. Quigg Edmond  247.5208

In [138]:
# Group the dataset by 'Pclass' and calculate mean fare
mean_fare_by_class = df.groupby('Pclass')['Fare'].mean().reset_index()

# Display the mean fare for each class

print("Mean Fare for Each Passenger Class:")
print(mean_fare_by_class)

Mean Fare for Each Passenger Class:
   Pclass       Fare
0       1  84.154687
1       2  20.662183
2       3  13.675550